@page "/BMI"
@rendermode InteractiveServer

<PageTitle>BMI</PageTitle>

<h1> find your BMI</h1>

<div class="form-group">
    <input type="number" @oninput="OnInputFloat" @onmouseleave="CalculateBMI" class="form-control" placeholder="weight (pounds)">
    <p>@weight</p>
</div>

<div class="form-group">
    <input type="number" @oninput="OnInputInt" @onmouseleave="CalculateBMI" class="form-control" placeholder="height (in)">
    <p>@height</p>
</div>

<p>@finalBMI</p>

@code
{
    private int weight = 0;

    private int height = 0;

    private double finalBMI = 0;

    private void OnInputFloat(ChangeEventArgs e) => weight = Int32.Parse((string)e.Value!);
    private void OnInputInt(ChangeEventArgs e) => height = Int32.Parse((string)e.Value!);


    private void CalculateBMI()
    {
        finalBMI = weight / Math.Pow(height , 2) * 703;
    }

}
