@page "/friends"
@layout Layout.MyLayout
@rendermode InteractiveServer

<PageTitle>Friends</PageTitle>


<ul>
    <li>john</li>
    <li>Ṱ̷̭͔̠̠̪̥̦̙͚̘̠̇̔͑͛̅͜͝h̸͈̬̭̣̉e̴͇̤̠̋̓̓͘ ̸̙͉̦͕͋̆̏̑͋̔͐̚͜͝ͅV̵̢̰͎̤͚̘̗̩͙̠̟̣̔͑̄̿͜o̴̻̣̣̯̹͚̻̥̍ȉ̵̧̹͖̻̻̟͒̚͜c̸͙̼̺̦̭̈́́̐͋e̷̩̬̾s̵͈̠̟̬̈́̈́</li>
    <li>eddie</li>
    <li>gio</li>
</ul>

<h2>Y̵̨̢̨̡̨̡̨̨̢̨̛̻͇̖̳͍̟͎̥̟̠͔͖͕͎̼͍̬̤̘͓͓̰̠̥͇̱̱̳͖̺̺̥̯͔͈͙̤̙̥̣̼̪̯̠̮͇̘̲̦͕͈̖̳̲͎͚̝̬̪̥̹̳̯̞̪̗͇̮͈͎̳̖͖̘̦͍̘̥̘̣͎͇̫̘͖̳̼̞͉̱̦̟̞̯̤͕̜̩̙̞̤̰̤͙͎̭̿͊̇͊̋̃́́̉͌̽̆͜͝͝ͅǪ̷̨̡̛̠̳̖͉̹̫̤̳̰̻͎̭̱̝̝̩͓̲͕̥̙̙̦̖̱͚͇̹̖̯̭̙̲͖̈́͐̈́͐̎͛͆́̐̽́̎̀͗̌̓͋͌̑̄̽̍̔̽̏͆́̃͆̓̂͗̆͗̅̓̂̾̀́͆̉̌͌̐͋̂̒͊͗̎͒͊̄̕̕͘͘͜͝͝͠͝ͅŲ̸̡̨̛̛̛̛̛̛̠̰̪̯̻͙̙̞̳̟̟͓̪̹̭̲͎̤͙̞͛͂̿̒̎̈́̏̉͑̈̈́̄̅̔͑̊̉̂́̇̈́͋̐͋̓̇̎̐͗̎͋̒͊̄̋̇́̏̀̆̌̃̌̿̊̈́̂̇̏͑̂̉̈́́̇̀̉̋͌̉̏̿͛̄̅̉́̄̂̃͒̄͊̾͛́͗̄̊̈̓͒͌̑̏͒̏̓́̇̅̇̈͛͌̈́̔̇͒͑̊̑̅̕̕͘̚͘̚̕͘̕̚͘̕̕̚̚̕͠͝͝͝ ̸̡̨̨̡̢̧̨̡̧̨͖̝͈̜̜̠͎͎̲̖̮̯̫̙̠̠͙̥̤̟̙̗̟̜̲͖͎̯͈̻̫̭͙͇̟̤̫̲͍̱̤̲̣̜̬͈̱̭̲̘̥̰̯̞̖̖͈̪̺̰̯̝͇͚̭̭̤̜͈̙̼̠͓͕͖͖̠̫̮̺͙͍͇̘̥̥̱̰͎̩͍̩̳̻͌̔͊͜͜͜͜͜ͅͅC̸̡̨̧̢̢̢̡̧̢̛̛̤̻̭͔͍̜̻̪̤̭͈͖̘̤̬̺̗͉͉̺̥̦̞͍̗̣͎͓̯͍̗̞̩̬̩̞̹̣̠͍̱͚̯̮̼̭̱̼͕͚̣̜̘̺̬͓̼̠̫͕̯̯̰̘͈̬͙̙̼͍͕͇̰̝͚̲͕̩̘̻͖̪̙̳̖͚̬̦̒͑̿̾̈̌̾̉͒̈́̀̀̀͌́̇͑̃͑̇̅́̋̈́̔̊̃̌̾̒̽͋̓̓̀͗͒̌̀̓́̑̋͋̈́͌̄̉̅́͊̎͆͋̿̑͛́̎͛̾͌̐̈́̄̾̽̀̈́̏̏̆̓̎̓̽͐̂͊̾͒̆̕̕̕̕͜͜͜͝͝͝͝͝͠͠͝͝͝͝͝Â̵̢̧̨̡̧̡̧̢̨̢̢̧̢̭̲̰̙̭̟̖̗̬͇̻̖͔̼̹͓̤͍̬̺͔͇̝̞̫̹̫̝̼̳̫̟̯̙̬̥̹͕͍̣̣̹͚̘̪̣̦̰͚͎͔̩͚͖̞̮͎̗͎͙̻̜̣̺͈̯̯̦̬͇̰̠̠̤͈̌́͗̋̔̈́̄̊̽̈́͋̀͑̈́̉̑̉͆̓̌͆̾͆̋̎̄͐̾̓̂͑̇͒̐̇͑͗̊̏̒́̔͗͆̓̇̽̐̉́̌̈́̈́̽͋̏̒̈̇̃͐̒͗͌̌̀̉̂͛̃̒̔͂̈́̅͊͛͊̌̍̐͑͘͘̕̕̕̕̕̚͘̚͘̚͘͜͜͜͝͝͝ͅͅN̶̨̢̧̡̨̢̧̢̨̢̛͈͉̹̳̟̩̮̞̮͉̭̲̙̪͉̙͉͙̭͕̞͇͉̮̤̫͍̭͓̪̠̫͙̥̤̠̲̪̖̻̞͖̩͈̘̖̣̮̝̘̬̅͆͗̅̈́̈́̋͋̿̉̑̽̎̎̆̎̑͑͘̕͜ͅŅ̶̢̧̨̧̨̨̧̢̧̧̢̧̡̢̢̛̳̤͖̝̺̥̥̝̙̤͓̱͖̬͎̹͍̠͖̪̟̫̥͇̮̻̺͔̞̩̖̮̲̺͎͍̠͎̹̻̲̬̪͎͈̲̦̮̼̳̠̼̘̺͉̲͔͙͔̲̗̥̥̠̞̫̤̝̭̣̤̥͇̮͎̫̙̻̳̞̮̙̮̥̦̥͈͚̩̟̮̘̼̩̙̰̮̳̘̖͙̤̜͎̲̬̩̩̖̔̄̎̋̇́͛͋͒̐͗͊͒̂̏̔̃̈́̔̀̌́̂͌̅̍̓̀̈́̉̋͂̿͋̾̃̉̈́̊̒̿̂̋̊̾͊̇͐̈̊̓̌̊̾͗͑̽̿̏̓̿̆͘̚̚̚̚͘̕͜͜͜͜͠͠͠͝ͅƠ̸̛̛̛̺̳̫̜͑̌̅̌͂̄̒̆͒͐̎̈́͌̈́̓̈́̊̈́̊̊̏̋̇̊͐̐̊͗͐͑̀̐͛̅̾̄̉̐͗̾̃̽̀̿̽̈́͛̽̄̋͑́̅͌̉͒͐́́̇̎̏͘̚̕̕̕͘̕͘͝͠T̸̡̢̨̢̨̛̛̛͕̭̞͚̫̯̞̣̙͕̖̭̞̰͓̠̬͔̺͓͚̲̬̮̮͖̹̦̫̜͚̯̜͖̗̲͚͖͕̰͕͚̞͇̻̪͉̰̠̘͈̺̼̤̺̹̙̩͇̜̙̠̮̰̻̣͉͎̀̑̎̋̎́̐̋̋̌̓͒̄̈̏́͒̈̄͋̉́̈̇͋̀̽͆̋́͐̎̌̾̽͒͊́̎̈̒̔̆͊̎̑̏̀̊̀̀͛̃͋̃̓̈́̈́̈́͒͑͒̌͗̀̇̓̃̍̆̌̅͗͗͆̍̓̍̉̏̋̆̉̑̓͗̽̈́̈́̆͊̾̈́͐̚̕͘͘̕͜͝͝͠͝ͅͅ ̷̨̧̢̢̧̢̧̛̬͉̙͍̳̞͉̻̮̦̳̰̦͙̪̠͓̟͓̭̟͖̗̼̘̼̥̪̜̹̭̞͇̯̯̯͇̱͎̻̹̬͚͉̥̥͍͓͖͈̭̗̫̝̟͍̣̜͇͚̫͈̱͈̯͔̺͙̜͚̼̝͎̘̰̫͕̖̰̔͆͑̿͗̒̀͐͐̾͛̀̏̓̂͋̽͊͊̅̊͒̉̑͛̅̌̀̀̓̀̾͋̀́͛͆́̓̈̒̄͆̋͂̆̽͛͌̓͛͋̆͑̏̓̇̈́͗̐̄̾̍̀̽̑̑̊͘̕͜͜͜͜͝͝͝͝͝Ḷ̶̨̢̛̬͔̰͔͚͇̰̜̞̠̜̞̳͈̥͇͉͕̪͈̮̦̰̱̺̫͔͔̰͉̤̬̹̇́̓͛̔̌̈̅̎́͌͋̊̂̈̐̎̀̎̃͆͑͋́̒̐͆̆͛̾̽̈́͂̉̿̃̋̈́̊̀͒͐̌̇̓́́̀̈́̇̄̀̕̕͘͘͘͘͝͠͝͠͝͝͝E̵̡̨̡̧̨̨̨̧̤̤̦̟͙̝̩̗̲͉͖̦̜͕͙͔̠͍͇͎̲̘̫͉̙̖̹̪̠̭͉̞̤͙͈̮̱̩̩̙͙͖͔̘̘̮̮̦͙̜̘̤̘̺̮̝͕̙̲̦̱͎͎̫̖̰̝̟̞͇̱͖̟͇͈͙̺̭͕̮̝̼̟̹͈͙̪̱͎̩̥͈̘̖̮͔̻̬̤̱̜̥̭̐͜ͅͅͅͅĂ̶̢̡̡̨̡̨̡̧̘̣̬͖̞̭͔͉̞̝̺͈̱̦̥̳̺̣̲͉͈̼͙͍̠͉̦̤̘͇̠̟̦͓̭̞̣͔̖̼̜͔͈͉̭̰͇̳̙͚̥͙̰̗̗̯͉̖̙̖̭̫̣͙̤̝͓̹͉̼̼͈̱̟̪͔͇̬̯̬̹͓̖̮̞̖͓̘̅̀̒̆͆͑̃̇̈̏͆̐̍̑̂̑͑̅̈́̀̍͑̿̿̉̽̊̒͊̿̃̇̅̈̀͋̍̒͑͐̕̕̚͜͜͜͝ͅͅV̶̢̡̧̡̨̡̡̢̡̨̦͚̤̩̻͙͉̯̼̥̻̩̬̟̻̝̝͉̫͈̜͙̥̭̣̝̬̰̠̤̥̬͈̼̤̫̼̘̹͇̥̩̺̤͇̩͔̜̥̳͚͇̲̠̙̣̰̭͓͍̮̤͉͕͈̪̻̪͚̜̜̟̞̮͈̣̻̤͖͉̫͙̻͕͕̒̐́̓̈́̒̄͗̽̅͒̆͊̿̂͂̈́̉̽̉͛̐̿̌̈̌̅̿̊͆̔̓̐̅̓̍̇͐̎̍̆̃̊̈́̽̈́̌͋̊̔̾̚͘̕̚̚͘̚͘̚͜͜͜͜͝͠͠͠͝ͅͅͅE̵̢̢̢̡̡̡̢̨̛̥͓̜͖̯͕̺͉̤̹̳͙̥̙̲̖̪̪̖͕̼̣̜̩̦̬̙̩̯̳̥͍̟̰̰̫͎̩͎͎̪͚̗̣͖͉͇͔̲̭͉̫̖͓͔̻̻̯͔͓͙̲̞͕͈͈͇̦̞̻̖̦̯̻͚͍̤͚͙͎̠̥̺̾̍̔̇̀̑͂͌̐͒̋͐͐̐̈̈́̀̑́͋̄͆̑́̐͋̉͒̋̓̓́̿̀̉͆͒̅͋͗̈́͠͠ͅͅͅ</h2>


<img src="SHRIMP.png">
<p>the ̸̙͉̦͕͋̆̏̑͋̔͐̚͜͝ͅV̵̢̰͎̤͚̘̗̩͙̠̟̣̔͑̄̿͜o̴̻̣̣̯̹͚̻̥̍ȉ̵̧̹͖̻̻̟͒̚͜c̸͙̼̺̦̭̈́́̐͋e̷̩̬̾s̵͈̠̟̬̈́̈́ in question</p>





